@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,400;0,600;0,700;1,600&family=Barlow:wght@400;500;600;700;800&display=swap');
body{
    font-family: "Barlow","sans-serif";
    line-height: 1.7;
    color:#516171
}

h1,h2,h3,h4,h5,h5{
    font-weight: 700 !important;
    color:#092032;
}
 a{
    color:#092032;
    text-decoration: none;
    font-weight: 500;
 }

 img{
    width:100%;
    
 }
 section{
    padding-top:80px;
    padding-bottom: 80px;
 }

 .bg-cover{
    background-position: center !important;
    background-size: cover !important;
 }

 /*navbar*/

 .top-nav {
    background-color: #ff4d29;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
}
.top-nav p{
    display: inline-block;
    margin-bottom: 0;
    margin-right: 16px;
    color: #fff;
}

.top-nav i,
.top-nav span{
    vertical-align: middle;
}
.social-icons a{
  color:#fff;
  background-color: rgba(255, 255, 255, 0.3);
  display: inline-flex;
  width: 34px;
  height: 34px;
  align-items: center;
  justify-content: center;
  border-radius: 100%;

}
.social-icons a:hover{
    
    background-color: #fff;
    color: #ff4d29;
}
.navbar{
    box-shadow: 0px 6px 20px rgba(0 , 0, 0, 0.08);
}
.navbar-brand{
    font-weight: 700;
    font-size: 25px;
    color: #092032;
}
.navbar-brand span{
    color: #ff4d29 ;
}
.navbar .navbar-nav .nav-link:hover {
    color: #ff4d29;
}
.navbar .navbar-nav .nav-link.active {
    color: #ff4d29;
}

a:hover{
    color: #ff4d29 !important;
}

/* btn  */
.btn{
    padding:9px 24px;
    font-family: 500;
}
.btn-brand{
    color: #fff;
    background-color: #ff4d29;
    border-color: #ff4d29;

}

.btn-brand:hover{
    background-color: #d72b08f0;
    color: #fff !important;

}

/* slidder */

.slide1{
    background: linear-gradient(rgba(9, 32, 50, 0.3) , rgba(9, 32, 50, 0.3)),url(./Assets/img/bg_banner1.jpg);
}    

.slide2{
background: linear-gradient(rgba(9, 32, 50, 0.3) , rgba(9, 32, 50, 0.3)),url(./Assets/img/bg_banner2.jpg);
}

/* //carserol */

.owl-prev,
.owl-next{
    position: absolute;
    top:50%;
    width:60px !important;
    height:60px !important;
    color: #fff !important;
    border-radius: 100px !important;
    display: grid;
    place-items: center;
    font-size: 14px !important;
    font-weight: 700 !important;
    margin-top: -30px !important;
    background-color: rgba(255, 255, 255, 0.2) !important;
    
}
.owl-prev{
    left: 0;
}
.owl-next{
    right: 0;
}
.owl-prev:hover{
    background-color: #ff4d29 !important;
}
.owl-next:hover{
    background-color: #ff4d29 !important;
}

/* //info-box// */
.info-box{
    display: flex;
    align-items: center;
}
.info-box img{
    width: 100px;
    margin-right: 24px;
}

#milestone{
    background: linear-gradient(rgba(255, 77, 41, 0.9),rgba(255, 77, 41, 0.9)), url(./Assets/img/bg_banner2.jpg);
}
#milestone .display-4,
#milestone p{
    color: #fff;
}

#milestone .display-4{
    font-weight: 700;
}

/* /services/  */
.intro{
    margin-bottom: 40px;
}
.intro h6{
    color: #ff4d29 !important;
    font-weight: bold;
}
.intro p{
    max-width:500px;
    margin: auto;
}

.service-box{
    padding: 32px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;

}
.service-box h5{
    margin-bottom: 12px;
    margin-top: 24px;

}
.service-box img{
    width: unset;
}

/* /project */

/* /custom setting for all dots */
.owl-dot.active span{
    background-color: #ff4d29 !important;
}

.projects{
    position: relative;
}

.projects .overlay{
    background: linear-gradient( rgba(255, 77, 41, 0.0) ,  rgba(9, 32, 50, 0.8) );
    position: absolute;
    width:100%;
    height:240px;
    bottom:0;
    left: 0;

}
.projects .content{
    position: absolute;
    width: 100%;
    bottom: 0;
    left:0;
    padding: 20px;

}
.projects h1,
.projects,h6{
    color: #fff !important;
    
}
.projects h1{
    font-size: 24px ;
    letter-spacing: 1.0;
    
}
.projects h6::before{
    content: "";
    width:20px;
    height:2px;
    background-color: #ff4d29;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}



/* TEAM MEMBER  */
.team-member{
    text-align: center;
}
.team-member .img-wrapper{
    position: relative;
    overflow: hidden;
    
}
.team-member .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top:-10%;
    left:0;  
    background-color: rgba(255, 77, 41, 0.7);
    transition: all 0.4s ease;
    opacity: 0;
    

}
.team-member .social-icons {
    position: absolute;
    top:60%;
    left:50%;
    transform: translate(-50% , -50%);
}
.team-member .overlay:hover{
    opacity: 1;
    top: 0;
}
.team-member:hover .social-icons{
    opacity:1;
    top:50%;
}
.team-member h5{
    margin-top: 24px;
}

/* /reviews  */

#reviews{
    background: linear-gradient(rgba(9, 32, 50, 0.8) , rgba(9, 32, 50, 0.5)),url(./Assets/img/bg_banner2.jpg);

}
.reviews{
    max-width: 800px;
    margin:auto;
    text-align: center;
}
.reviews img{
    max-width: 85px;
    border-radius: 1000px;
    margin: auto;
}
.reviews h4,
.reviews p{
    color: #fff;

}
.reviews small{
    color: #ff4d29;
}
.reviews p{
    margin-top: 28px;
}
.reviews h4{
    margin-top: 24px;
}

.blog-post{
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.blog-post .tag{
    position: absolute;
    padding: 4px 12px;
    color: #fff;
    background-color: #ff4d29;
    border-radius: 100px;
    top: 20px;
    left: 20px;
    font-weight: 400;
    font-size: 14px;
}
.blog-post img{
    margin-bottom: 20px;
}
.blog-post small{
    margin-top: 10px;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: 700;
    color: #ff4d29;
    padding: 10px;
}
.blog-post h4{
    margin-bottom: 10px;
   
    padding: 10px;
   
}
.blog-post p{
    margin-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.blog-post a{
    font-weight: 700;
    font-size: 20px;
}

/* //footer  */
 footer{
    background: linear-gradient(rgba(9, 32, 50, 0.8) , rgba(9, 32, 50, 0.5)),url(./Assets/img/bg_banner2.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;

 }
 footer .navbar-brand{
    color: #fff;
    margin-bottom: 25px;
    display: inline-block;
    
 }

 .footer-top p{
    margin-top: 20px;
    margin-bottom: 20px;
 }

 .footer-top{
    padding-top: 40px;
    padding-bottom: 40px;
 }

 .footer-top .social-icons a{
    padding: 15px;
    margin: 2px;
 }

 .footer-bottom{
    border-top: 1px solid rgba(255,255,255,0.1) ;
    padding-top:20px ;
    padding-bottom:20px ;
 }
 .footer-bottom span{
    color: #ff4d29;
 }
 

 /* form  */
 .form-control:focus{
    box-shadow: none;
    border-color: red;
    
 }




